.__agregarC{
    background-color: #0A65FF !important;
    font-size: 0.95rem !important;
}
.__mtmobile{
    background-color: none !important;
    color: black;
    box-shadow: none ;
}
.__borde_product_c{
    border-width: .4rem !important;
    border-style: solid !important;
    border-radius: 20% !important;
}

