._card_body_details{
    padding: .6rem !important;
}
.tblscroll{
    max-height: 650px;
}

@media (max-width: 1400px) {
    .__table_responsive_xl {
      display: block !important;
      width: 100% !important;
      overflow-x: auto !important;
      -webkit-overflow-scrolling: touch !important;
    }
    .table-responsive-xl > .table-bordered {
        border: 1px solid #dee2e6;
    }
  }
