.__agregarP{
    background-color: #0A65FF !important;
    font-size: 0.95rem !important;
}
.__bordeB{
    border-bottom: 1px solid #c4c4c42f !important;
}
.__bordeB > b{
    color: black !important;
}
.__borde_alert_p{
    border-width: .4rem !important;
    border-style: solid !important;
    border-radius: 20% !important;
}
